h3{
	color: rgb(155,194,196);
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
h1{
	font-family: 'Playfair Display', serif;
	font-weight: 900;

}
h6{
	font-family: 'Playfair Display', serif;
	color: rgb(150,150,150);
	font-style: italic;
}

h4{
	color: rgb(150,150,150);
	font-family: 'Playfair Display', serif;
	font-weight: 500;
}

p{
	font-family: Myriad Pro;
	line-height: 20pt;
	
}
h5{
	color: rgb(150,150,150);
	font-family: 'Playfair Display', serif;
	font-weight: 500;
	padding-top: 20px;
}

.pic{
	z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("doted.png");
  background-repeat: repeat;
   opacity: .08;
}
img{
	width:100%;
}
/*
.palm{
	position: absolute;
	background-image: url(palm.jpg)
 	height: 20px;
}
*/
ol{
	font-family: Myriad Pro;
	padding: 0;
}

li{
	padding:0; 
	line-height: 20pt;
}

html, body {
  margin: 0;
  padding: 0;
}

body{
	margin:auto;
	width: 84vw;
}
.learn{
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(learn.png);
	height: 70px;
	width: 155px;
	top: 10px;
	left:90px;
}
.daily{
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(daily.png);
	height: 70px;
	width: 155px;
	top: 10px;
	left:90px;
}
.seven{
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(seven.png);
	height: 70px;
	width: 155px;
	top: 10px;
	left:90px;
}
.bloom{
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(bloom.png);
	height: 70px;
	width: 155px;
	top: 10px;
	left:90px;
}
.buzz{
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(buz.png);
	height: 70px;
	width: 155px;
	top: 010px;
	left:90px;
}
