h3{
	color: rgb(193,229,176);
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
h1{
	font-family: 'Playfair Display', serif;
	font-weight: 900;

}
h6{
	font-family: 'Playfair Display', serif;
	color: rgb(150,150,150);
	font-style: italic;
}

h4{
	color: rgb(150,150,150);
	font-family: 'Playfair Display', serif;
	font-weight: 500;
}

p{
	font-family: Myriad Pro;
	line-height: 20pt;
	
}

.pic{
	z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("doted.png");
  background-repeat: repeat;
   opacity: .08;
}
img{
	width:100%;
}
/*
.palm{
	position: absolute;
	background-image: url(palm.jpg)
 	height: 20px;
}
*/

html, body {
  margin: 0;
  padding: 0;
}

body{
	margin:auto;
	width: 84vw;
}
.home{
	position: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(home-03.png);
	height: 75px;
	width: 75px;
top: -5px;
right: 5px;
}

.flower{
	background-image: url("flo.png");
	transform: scale(.05);
}